<div class="modal fade" tabindex="-1" id="submitted-proof-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Like a Facebook Post</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
    <div class="modal-body d-flex gap-3">
        <div class="thumbnail-container" id="submitted-proof-preview">
            <img  id="img-proof-preview" src="../assets/img/test-task-img.png" alt="">
        </div>
    </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            id="proof-decline-btn"
          >
            Decline
          </button>
          <button type="button" class="btn btn-success" id="proof-approve-btn">Approve</button>
        </div>
      </div>
    </div>
  </div>
</div>
