.history-item {
  display: flex;
  padding: 10px 8px;
  border-bottom: 1px solid #cdcdcd;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
}

.history-item p {
  font-size: 14px;
}

.history-item small {
  font-size: 11px;
  color: #cdcdcd;
}

@media (max-width: 1000px) {
  #user-data {
    display: block;
  }

  .user-data-container {
    margin-block: 20px;
  }
}
